<div class="container">
    <div class="alert alert-dark" role="alert">
        <h3 class="alert-heading">About:</h3>
        <p>This website was created as an exercise in utilizing mongoDB as a database, for scraping a website for content (in this case, a popular cycling blog).
            Users are able to add notes to the scraped articles.</p>
        <h3>Technologies used:</h3>
        <ul>
            <li>Bootstrap 4</li>
            <li>Node.js and Express.js</li>
            <li>Handlebars for server-side templating</li>
            <li>Mongoose for database interfacing</li>
        </ul>
        <hr>
        <p class="mb-0">Please visit the <a href="https://github.com/dmcneary/news-scraper" target="_blank">GitHub repository</a> and take a look at my <a href="http://dmcneary.github.io" target="blank">other projects</a></p>
    </div>
</div>