<div class="container">
	<div class="alert alert-dark" role="alert">
		<h3 class="alert-heading">About:</h3>
		<p>This website was created as an exercise in utilizing mongoDB as a database, and scraping a website for content.</p>
		<h3>Technologies used:</h3>
		<ul>
			<li>Bootstrap 4</li>
			<li>Node.js and Express.js</li>
			<li>Cheerio</li>
			<li>Handlebars</li>
			<li>Mongoose with MongoDB</li>
		</ul>
		<hr>
		<p class="mb-0">Please visit the <a href="https://github.com/dmcneary/news-scraper" target="_blank">GitHub repository</a> and take a look at my <a href="http://dmcneary.github.io" target="blank">other projects</a></p>
	</div>
</div>