
<div class="container">
    <div class="jumbotron">
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>AP Newswire</h1>
        </div>
    </div>

    <div class="buttonContainer">
        <a href="/scrape"><button type="button" class="btn btn-success">Scrape New Articles</button></a>
        <a href="#"><button type="button" class="btn btn-danger clear">Clear Articles</button></a>
    </div>

    <div class="article-container"></div>

</div>